<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="discordBotToken" value="bot-token" />
		<add key="heroAPIEndpoint" value="https://heavenhold.com/wp-json/wp/v2/heroes/" />
		<add key="itemAPIEndpoint" value="https://heavenhold.com/wp-json/wp/v2/items/?_embed" />
		<add key="heroCacheFileLocation" value="Heroes.json" />
		<add key="itemCacheFileLocation" value="Items.json" />
		<add key="copyRightIconUrl" value="https://heavenhold.com/wp-content/uploads/2020/09/cropped-discord.jpg" />
	</appSettings>
</configuration>